* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* :root {
#### Text

- Very dark desaturated blue: hsl(238, 29%, 16%)
- Soft red: hsl(14, 88%, 65%)

#### Gradient

Background gradient:

- Soft violet: hsl(273, 75%, 66%)
- Soft blue: hsl(240, 73%, 65%)

### Neutral

#### Text

- Very dark grayish blue: hsl(237, 12%, 33%)
- Dark grayish blue: hsl(240, 6%, 50%)

#### Dividers

- Light grayish blue: hsl(240, 5%, 91%)

## Typography

### Body Copy

- Font size: 12px

### Font

- Family: [Kumbh Sans](https://fonts.google.com/specimen/Kumbh+Sans)
- Weights: 400, 700

} */

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

body {
    background: linear-gradient(hsl(273, 75%, 66%),hsl(240, 73%, 65%));
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12px;
}

.hidden {
    display: none;
}

.box {
    border-radius: 15px;
    padding: 2rem 2rem 2rem 0;
    background: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    height: 80%;
    width: 80%;
}

.image {
    display: flex;
    flex-direction: column;
    position: relative;
}

.woman-online-desktop {
    width: 80%;
    min-height: 20vh;
}

.image-box {
    position: absolute;
}

/* INFORMATION */
.information ul{
    list-style: none;
}

.information ul li {
    margin: 1rem;
    border-bottom: 1px solid black;
    cursor: pointer;
}   